[submodule "tools/fd"]
	path = tools/fd
	url = https://github.com/sharkdp/fd.git
[submodule "tools/sd"]
	path = tools/sd
	url = https://github.com/chmln/sd.git
[submodule "tools/rg"]
	path = tools/rg
	url = https://github.com/BurntSushi/ripgrep.git
[submodule "tools/delta"]
	path = tools/delta
	url = https://github.com/delta-io/delta.git
[submodule "tools/lsd"]
	path = tools/lsd
	url = https://github.com/Peltoche/lsd.git
[submodule "tools/exa"]
	path = tools/exa
	url = https://github.com/ogham/exa.git
[submodule "tools/bat"]
	path = tools/bat
	url = https://github.com/sharkdp/bat.git
