[submodule "tools/fd"]
	path = tools/fd
	url = https://github.com/sharkdp/fd.git
[submodule "tools/sd"]
	path = tools/sd
	url = https://github.com/chmln/sd.git
[submodule "tools/rg"]
	path = tools/rg
	url = https://github.com/BurntSushi/ripgrep.git
[submodule "tools/lsd"]
	path = tools/lsd
	url = https://github.com/Peltoche/lsd.git
[submodule "tools/exa"]
	path = tools/exa
	url = https://github.com/ogham/exa.git
[submodule "tools/bat"]
	path = tools/bat
	url = https://github.com/sharkdp/bat.git
[submodule "tools/hyperfine"]
	path = tools/hyperfine
	url = https://github.com/sharkdp/hyperfine.git
[submodule "tools/dtool"]
	path = tools/dtool
	url = https://github.com/guoxbin/dtool.git
[submodule "tools/fselect"]
	path = tools/fselect
	url = https://github.com/jhspetersson/fselect.git
[submodule "tools/hexyl"]
	path = tools/hexyl
	url = https://github.com/sharkdp/hexyl.git
